/*
    Descomentar para qitar los bordes en pruebas

* {
    border: 1px dashed #6a9afb;
}
*/

/* -- General -- */

.header h1 {
    text-align: center;
    padding: 50px;
    text-shadow: 2px 2px 2px black;
    color: white;
    font-size: 3.5em;
}

.menu-index {
    text-align: center;
}

.menu-option {
    padding: 25px;
    margin: 0px;
    border: 1px solid steelblue;
    border-radius: 10px;
}

.menu-search {
    padding: 25px;
    border: 1px solid steelblue;
    border-radius: 10px;
}

.menu-create {
    border: 1px solid steelblue;
    border-radius: 10px;
    padding: 30px;
    width: 50%;
}

.menu-version {
    text-align: left;
}

a.non-format {
    color: grey;
    text-shadow: 2px 2px 2px black;
}

a.non-format:link {
   text-decoration: none;
}

a.non-format:hover {
   text-decoration: none;
}

a.non-format:active {
    text-decoration: none;
}

a.non-format:visited {
    text-decoration: none;
}

/*-- img responsive --*/
img {
    height: auto;
    max-width: 100%;
}

/* -- Search -- */
.header-table {
   font-weight: bold;
}

/* -- Forms -- */
.form_constumer {
    text-align: left;
    margin: auto;
    width: 75%;
}

.form_constumer ul{
    list-style-type: none;
    list-style-position: outside;
    margin: 0px;
    padding: 0px;
}

.form_constumer li{
    padding: 3px;
    position: relative;
}

.form_constumer label{
    float: left;
    padding: 1px;
    margin: 5px;
    margin-top: 3px;
    width: 150px;
}

.form_constumer input{
    padding: 2px;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
    text-align: left;
}

.form_constumer textarea{
    padding: 2px;
    width: 400px;
    height: 75px;
    border-radius: 2px;
    box-shadow: 0px 0px 3px #ccc, 0 10px 15px #eee inset;
}

.form_constumer_submit {
    float: center !important;
    text-align: center !important;
    position: static;
    width: auto;
}

.input_size{
    width: 80%;
}

/* -- Acceso/Login -- */

.login {
    background: #D8D8D8;
    width: 25em;
    margin: 0 auto 0 auto;
    padding: 15px;
    border-radius: 15px;
}

.btn-acceder {
    margin-top: 15px;
}

/* -- Acceso/Login -- */

.card-general {
    width: 30rem;
    border-radius: 15px;
    border: 1px solid steelblue;
}

.card-right {
    float: right;
}

.card-left {
    float: left;
}