# Configuracion del acceso al directorio y las urls de la pagina

# Denegar el acceso al listado de directorios y ficheros del servidor
 Options All -indexes

# Url amigables
 RewriteEngine On
 RewriteRule ^(\w+)$ index.php?do=$1